* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
html, body {
  height: 100%;
}
hr{
  line-height: 0;
  margin: 10px 0;
  padding: 0;
  border: none !important;
  border-bottom: 1px solid #e5e0e0 !important;
  clear: both;
  background: 0 0;
}
.cm-body-BackCol{
  background-color: #f3f6fd ;
  padding: 8px ;
}
.wid-95{
  width: 95%;
}
.wid-200{
  width: 200px !important;
}
.wid-220{
  width: 220px !important;
}
.p-2{
  padding: 0.5rem;
}
.mb-10{
  margin-bottom: 10px;
}
.mt-5{
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.overflow-hidden{
  overflow:hidden; text-overflow:ellipsis; white-space:nowrap;
}
.disabled-background{
  background-color: #eeeeee !important;
}
.disabled-color{
  color: #eeeeee !important;
}
.text-center{
  text-align: center;
}

/*  --自定义颜色，背景色--  */
.hover-light{
  background: #e8f1ff;
}

/* 颜色 */
.blue-background{
  background-color: #0095ff !important;
}
.blue-color{
  color: #0095ff !important;
}
.purple-background{
  background-color: #818fee !important;
}
.purple-color{
  color: #818fee !important;
}

.red-background{
  background-color: #e91e63 !important;
}
.red-color{
  color: #e91e63 !important;
}

.green-background{
  background-color: #15c377 !important;
}
.green-color{
  color: #15c377 !important;
}
.orange-background{
  background-color: #faa64b !important;
}
.orange-color{
  color: #faa64b !important;
}
.cyan-background{
  background-color: #57c7d4 !important;
}
.cyan-color{
  color: #57c7d4 !important;
}
.brown-background{
  background-color: #8d6658 !important;
}
.brown-color{
  color: #8d6658 !important;
}
.yellow-background{
  background-color: #fcc525 !important;
}
.yellow-color{
  color: #fcc525 !important;
}
.secondary-background{
  background-color: #bdc1c4 !important;
}
.secondary-color{
  color: #bdc1c4 !important;
}
.black-background{
  background-color: #465161 !important;
}
.black-color{
  color: #465161 !important;
}
.down-a{
  color: #0c7fd1;
  text-decoration: none;
  border-bottom: 1px solid #0c7fd1 !important;
}
.down-a:hover {
  color: #183332;
  cursor: pointer;
}
.operation-a{
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
  transition: transform 0.3s, color 0.3s;
}
.operation-a:hover{
  color:#666666 !important;
  cursor: pointer;
  transform: translateY(-3px);
}
.page {
  height: 100%;
}
.dialog-header{
  font-size: 15px;
  font-weight: 600
}
.dialog-body{
  margin: 20px 0
}
.text-deprecated{
  text-decoration: line-through;
}

/* element-ui样式 */
.el-form-item__label{
  font-weight: 700 !important;
  font-size: 14px !important;
}
.el-descriptions__label:not(.is-bordered-label) {
  font-weight: 600 !important;
}

/* el-card样式 */
.el-card__header {
  padding: 14px 15px 7px !important;
  min-height: 40px;
}
.el-card__body {
  padding: 15px 20px 20px !important;
}

.btn-group-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/* el-table样式 */
.el-table .el-table__header-wrapper th, .el-table .el-table__fixed-header-wrapper th{
  overflow-wrap: break-word;
  background-color: #f8f8f9 !important;
  color: #515a6e;
  height: 40px !important;
  font-size: 13px;
}
.el-table .cell{
  color: #5E5A6E ;
  overflow-wrap: normal !important;
}
.el-table td.el-table__cell div{
  color: #606266 ;
}
/* pagination样式 */
.el-pagination {
  padding: 36px 0;
  display: flex;
  justify-content: end;
}


/* tree border */
.tree-border {
  margin-top: 5px;
  border: 1px solid #e5e6e7;
  background: #ffffff none;
  border-radius: 4px;
  width: 100%;
}

/* 设置滚动条宽度 */
::-webkit-scrollbar {
  width: 7px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  border-radius: 4px;
}
/* 设置滚动条滑块为渐变色 */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
/* 鼠标悬停时滑块样式 */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background-image: linear-gradient(120deg, #91bdfd 0%, #b1dffd 100%);
}

/* 图片样式 */
.advert-upload-img{
  width: 130px;
  height: 130px;
  background-color: #f5f7fa;
}
.advert-img-error{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
